/* Webfont: ZTYaglo-Bold */@font-face {
    font-family: 'ZTYaglo';
    src: url('ZTYaglo-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('ZTYaglo-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

