/* Webfont: ZTYaglo-SemiBold */@font-face {
    font-family: 'ZTYagloSemBd';
    src: url('ZTYaglo-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('ZTYaglo-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

